.header {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.header-container {
    grid-area: 1 / 2 / 2/ 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 28px 0px;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.progress {
    width: 600px;
    height: 40px;
    border: 2px solid white;
    border-radius: 1.5em;
    position: relative;
}

.progress::before {
    content: '';
    position: absolute;
    display: flex;
    left: 0.5em;
    top: 0.4em;
    bottom: 0.4em;
    width: calc(var(--width, 0) * 1%);
    max-width: calc((100% - 1em));
    background-color: white;
    border-radius: 1.5em;
}

.user-settings {
    grid-area: 1 / 3 / 2 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 40px 48px;
}

.user-settings svg {
    fill: var(--main-text-color, white);
    height: 30px;
}

.user-settings svg:hover {
    cursor: pointer;
}

.modal-open {
    padding: 28px;
    border: 2px solid black;
    top: 35%;
    left: 45%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-close {
    display: none;
}

.inputs div {
    display: flex;
    gap: 8px;
}

.finish {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save, .discard, .reset {
    font-size: 0.85rem;
    cursor: pointer;
}

.save {
    color: green;
}

.discard {
    color: red;
}

.reset {
    color: orange;
}

#name-input {
    padding: 1px 3px;
}

.name-input-container {
    display: flex;
    align-items: center;
}

.confirm-reset {
    max-width: 200px;
    display: flex;
    align-items: center;
    color: orange;
    gap: 2px;
}

.confirm-reset > div {
    padding: 2px 6px;
    border-radius: 12px;
    color: white;
    background-color: orange;
    cursor: pointer;
}