.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: var(--sidebar-bck-color);
    padding: 36px 28px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.default-options {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.default-options svg {
    height: 1.5rem;
}

.default-options div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.default-options div:hover {
    cursor: pointer;
    font-weight: bold;
}

.default-options div:hover svg {
    width: 1.8rem;
}

.new-project-div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: -24px;
}

.new-project-div input {
    height: 18px;
    padding: 2px 8px;
    border-radius: 12px;
    border: none;
}

.new-project-div svg{
    height: 14px;
}

.new-project-div svg:hover, .close-button:hover {
    height: 18px;
    font-size: 1.25rem;
    cursor: pointer;
}

.projects-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

#add-project {
    height: 18px;
    width: 18px;
    border: none;
    border-radius: 12px;
    font-size: 0.9rem;
}

#add-project:hover {
    font-size: 1.05rem;
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
}

.new-project-div .color-picker {
    padding: 0px;
    height: 22px;
    width: 20px;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 1px;
}

.project:hover {
    box-shadow: 1px 1px 1px 1px rgb(177, 176, 176);
}

.project {
    border-radius: 20px;
    padding: 4px 12px;
    width: 160px;
}

.close-button {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--sidebar-bck-color);

}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    color: red;
    font-size: 1rem;
    border: none;
    display: none;
    font-weight: bold;
}

.remove-button:hover {
    cursor: pointer;
    font-size: 1.15rem;
}