:root {
    --main-background: white;
    --main-color: rgb(29, 160, 216);
    --main-text-color: white;
    --bck-txt-col: black;
    --sidebar-bck-color: rgb(248, 244, 244);
    --sidebar-hover-color: rgb(236, 233, 233);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}